*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #E0E8FD;
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 1300px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
}
.navbar-menu a{
    font-size: 13px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}  
.navbar-menu a:hover{
    background-color: #fff;
    color: #000;
}